body{
    background-color: rgb(9, 50, 51);
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:chartreuse;
    font-style: italic;
    text-align: right;
}
p {
    font-family: monospace;
    text-align: center;
    color: lightpink;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72px;
    color: azure;
    font-style: normal;
}
h2 {
    color: rgb(15, 15, 15);
}
.special {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}
ul {
    list-style-type: square;
}
ol {
    list-style-type: upper-roman;
}
li {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}
.fave {
    color: orangered;
}
.doughnut {
    width: 25%;
}
a {
    color: white;
}

/* Milkshake page */

.milkshake-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.section-one {
    border: 1px solid white;
    background-color: darkslateblue;
}
.caption {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.milkshake-item {
    width: 275px;
    height: 275px;
    padding: 4px;
}
.milkshake-group {
    width: 275px;
}