body{
    background-color: #F2EDA2;
}

header {
    background-color: #F29191;
    padding: 10px 0px 10px 0px;
}

h1 {
    font-family: 'Livvic', 'cheap-pine-sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 5px;
}

iframe { 
    padding: 5px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0px 3px;
    border: 1px solid limegreen;
    border-radius: 10px;
    background-color: aliceblue;
}

button {
    border: 1px solid blueviolet;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: #B34559;
    color: white;
}

button:active {
    background-color: #9A4761;
    box-shadow: 0 5px #E47276;
    transform: translateY(4px);
}

footer {
    background-color: #1B1E59;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    color: white;
    padding: 10px 0px;
}


.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.push {
    margin-left: auto;
}

.section-one {
    background-color: #2A398C;    
}

.flexgrow-container {
    display: flex;
}

.box1 {
    background-color: #1B1E59;
    height: 200px;
    flex: 1 1 auto;
    color: white;
}

.box2 {
    background-color: #2A398C;
    height: 200px;
    flex: 2 1 auto;
    color: white;
}

.box3 {
    background-color: #1B1E59;
    height: 200px;
    flex: 1 1 auto;
    color: white;
}

.section-two {
    background-color: #6089BF;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three {
    background-color: #2A398C;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-four {
    background-color: #6089BF;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-five {
    background-color: #2A398C;
}

.caption {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color: white;
}

.media-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
    flex-direction: row-reverse;
}

.media-container .mediacontent {
    flex: 1;
    padding: 10px;
}

.mediacontent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
}

.button-one-section {
    background-color: #2A398C;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-top-img {
    border: 3px solid white;
    box-shadow: 10px 10px 20px black;
    width: 70%;
}